<%- include ('../../partials/heater.ejs') %>
<%- include ('../../partials/nav.ejs') %>
<body>


    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h3>Criação de usuario</h3>
            </div>
            <div class="card-body">
                <form action="/user/save" method="post">
                    <input class="form-control" type="text" name="name" placeholder="Digite aqui seu nome" required><br>
                    <input class="form-control" type="email"  name="email" id="" placeholder="email@exemplo.com" required><br>
                    <input class="form-control" type="password" name="password" placeholder="Digite aqui sua senha" required><br>
                    <button class="btn btn-success btn-block">Criar usuario</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>